@use '../../variables' as *;

.input-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  outline: 1px solid $border-color;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 14px;
  
  input, select {
    width: 100%;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  span {
    width: 150px;
  }

}