@use '../../variables' as *;
@use '../../mixins/hover-grow.scss' as *;

.components {
  display: flex;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 3px;
  height: 36px;
  gap: 3px;
  max-width: 100%;
  overflow: hidden;

  &-item {
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 3px;
    
    &-selected {
      outline: 1px solid rgb(255, 255, 255);
    }
  }
}