@use '../../variables' as *;
@use '../../mixins/hover-brighten' as *;
@use '../../mixins/flex-center' as *;

.timeline {
  // Firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
  border: 1px solid $border-color;
  padding-left:10px;
  display: flex;
  position: relative;
  height: 81px;
  background-color: $background-color-2;
  overflow: hidden;

  .frame-handle {
    position: absolute;
    bottom: 0px;
    top: 0px;
    width: 2px;
    background-color: #fff;
    z-index: 10000;
    &-inner {
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 12px solid #fff;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }
    &-text {
      position: absolute;
      bottom: -30px;
      font-size: 12px;
      user-select: none;
      left: 50%;
      transform: translateX(-50%) ;
    }
  }
  
  &-item {
    overflow-x: hidden;
    background-color: $background-color-2;
    padding: 4px 6px;
    height: 80px;
    cursor: grab;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    outline-offset: -3px;
    outline: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    position: absolute;
    user-select: none;

    &-name-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &-selected {
      outline: 3px solid rgb(255, 255, 255);
    }

    &:active {
      cursor: grabbing;
      
      // Prevent cursor change on items while scrolling with middle mouse
      .timeline-item {
        cursor: grabbing;
      }
    }
  }

  &-item-resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 8px;
    cursor: ew-resize;
  }

  &-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // Major grid lines (every 1 second / 100px)
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 100px 100%, 20px 100%;
    pointer-events: none; // Allow clicking through the grid

    &-marker {
      position: absolute;
      bottom: -18px;
      transform: translateX(-13px);
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      pointer-events: none;
    }
  }
  
  

  &-item-close {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    user-select: none;
    height: 20px;
    @include flex-center();
  }

  // Webkit browsers (Chrome, Safari, Edge)
  &::-webkit-scrollbar {
    height: 8px; // Thinner scrollbar
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); // Subtle track
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); // Subtle thumb
    border-radius: 4px;
    
    &:hover {
      background: rgba(255, 255, 255, 0.4); // Slightly brighter on hover
    }
    
    &:active {
      background: rgba(255, 255, 255, 0.5); // Even brighter when clicking
    }
  }
}

.timeline-list-container {
  position: relative;
  margin-bottom: 20px;


}


.timeline-list {
  display: flex;
  flex-direction: column;
}

.timeline.selected {
  // outline the timeline when selected on the left side without affecting the content
  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #fff;
  }
}

#numTimelines{
  width: 80px;
  margin-bottom: 10px;
}